@import '../styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
}

@layer components {
  .profiletitle {
    font-family: 'Bauhaus', sans-serif;
  }

  .poppins-bold {
    font-family: var(--font-poppins-bold), sans-serif;
    font-weight: 700;
  }
}
